<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<body>
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark" th:fragment="navFragment">
		<ul class="navbar-nav">
			<li th:class="@{'nav-item' + ' ' + ${main}}"><a class="nav-link" href="/">Home</a>
			</li>
			<li th:class="@{'nav-item' + ' ' + ${lrgFlrArea}}"><a class="nav-link" href="/largestFloorArea">Floor Area</a>
			</li>
			<li th:class="@{'nav-item' + ' ' + ${lrgFprArea}}"><a class="nav-link" href="/largestFootprint">Footprint</a>
			</li>
			<li th:class="@{'nav-item' + ' ' + ${lrgUsbVolume}}"><a class="nav-link" href="/largestUsableVolume">Usable Volume</a>
			</li>
		</ul>
	</nav>
</body>
</html>