<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"></link>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

</head>
<body>
	<nav th:replace="layouts/nav :: navFragment"></nav>
	<div class="jumbotron" align="center">
		<h1>All The Cereal</h1>
	</div>

	<div class="container">
		<table class="table table-striped">
			<tr>
				<th>Cereal Name</th>
				<th>Manufacturer</th>
				<th>Actions</th>
			</tr>
			<tr th:each="cereal : ${cereals}">
				<td th:text="${cereal.cerealName}"></td>
				<td th:text="${cereal.manufacturer}"></td>
				<td><a href="#" th:href="@{cereal/view/} + ${cereal.cerealId}">View</a>
				<a href="#" th:href="@{cereal/edit/} + ${cereal.cerealId}">Edit</a> 
				<a href="#" th:href="@{cereal/delete/} + ${cereal.cerealId}">Delete</a></td>
			</tr>
		</table>
		<a class="btn btn-primary" href="/cereal/add" role="button">Add New</a>

	</div>


</body>
</html>