<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"></link>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

<style>
th, td {
	padding-top: 10px;
	padding-right: 50px;
	padding-bottom: 10px;
	padding-left: 50px;
	background-color: #e6e8ed;
	
}
</style>
<title th:text="${pageTitle}">Generic Page Title</title>
</head>
<body>

<nav th:replace="layouts/nav :: navFragment">
</nav>


	<div class="jumbotron" align="center">
		<h2>Dwarf Emporium</h2>

	</div>



	<table class="tg" align="center">
		<tr>
			<th><a href="/disney">Disney dwarfs</a> </th>
			<th><a href="/tolkien">Tolkien dwarves</a></th>
		</tr>
		<tr>
			<td></td>
			<td></td>
		</tr>
	</table>


</body>

</html>