<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"></link>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

<style>
th, td {
	padding-top: 10px;
	padding-right: 50px;
	padding-bottom: 10px;
	padding-left: 50px;
	background-color: #e6e8ed;
}
</style>
<title th:text="${pageTitle}">Generic Page Title</title>
</head>
<body>

	<nav th:replace="layouts/nav :: navFragment"></nav>

	<div class="jumbotron" align="center">
		<h2>Largest Buildings By Footprint</h2>
	</div>
	<div align="center">
		<h4>
			<a href="/">Back to Main Page</a>
		</h4>
	</div>
	<table class="tg" align="center">
		<tr>
			<th>Name</th>
			<th>Image</th>
			<th>Country</th>
			<th>Footprint (m<sup>2</sup>)
			</th>
		</tr>
		<tr th:each="building : ${buildings}">
			<td th:text="${building.name}"></td>
			<td><img src="" th:src="${building.image}" width="200"
				height="180"></img></td>
			<td th:text="${building.country}"></td>
			<td th:text="${building.size}"></td>
		</tr>
	</table>


</body>

</html>