<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"></link>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

<style>
th, td {
	padding-top: 10px;
	padding-right: 50px;
	padding-bottom: 10px;
	padding-left: 50px;
}
</style>
<title th:text="${pageTitle}">Generic Page Title</title>
</head>
<body>

	<!-- Nav bar fragment with parameters -->
	<nav th:replace="layouts/nav :: navFragment(lrgFlrArea='active')"></nav>

	<div class="jumbotron" align="center">
		<h2>Largest Buildings By Floor Area</h2>
	</div>

	<table class="table table-striped">
		<tr>
			<th>Rank</th>
			<th>Name</th>
			<th>Image</th>
			<th>Country</th>
			<th>Place</th>
			<th>Floor Area (m<sup>2</sup>)
			</th>
		</tr>
		<tr th:each="building,iter : ${buildings}">
			<td th:text="${iter.index} + 1"></td>
			<td th:text="${building.name}"></td>
			<td><img src="" th:src="${building.image}" width="200"
				height="180"></img></td>
			<td th:text="${building.country}"></td>
			<td th:text="${building.place}"></td>
			<td th:text="${building.size}"></td>
		</tr>
	</table>

	<div align="center">
		<h5>
			<a href="/">Back to Main Page</a>
		</h5>
	</div>

</body>

</html>